@font-face {
  font-family: "SUIT-Bold";
  font-style: normal;
  src: url("./SUIT-Bold.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-ExtraBold";
  font-style: normal;
  src: url("./SUIT-ExtraBold.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-ExtraLight";
  font-style: normal;
  src: url("./SUIT-ExtraLight.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-Heavy";
  font-style: normal;
  src: url("./SUIT-Heavy.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-Light";
  font-style: normal;
  src: url("./SUIT-Light.woff2") format("woff");
}
@font-face {
  font-family: "SUIT-Medium";
  font-style: normal;
  src: url("./SUIT-Medium.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-Regular";
  font-style: normal;
  src: url("./SUIT-Regular.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-SemiBold";
  font-style: normal;
  src: url("./SUIT-SemiBold.woff2") format("woff");
}

@font-face {
  font-family: "SUIT-Thin";
  font-style: normal;
  src: url("./SUIT-Thin.woff2") format("woff");
}

