.cardContainer{
  background-color: aquamarine;
  padding : 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  box-sizing: content-box;
  margin : 5px;
  text-align : center;
  width: 300px;
  height: 250px;
  background-color : black;
  color :white;
}

.imageArea{
  text-align : center;
  display : inline-block;
  margin-top : 5px;
  width : 290px;
  height : 150px;
  background-color: red;

}
.title{
  display: block;
  margin : 0px 5px;
  background-color: #FFD365;
}

.subTitle{
  margin : 0px 5px;
  background-color: #FF9F56;
}