
.cardContainer{
  background-color: aquamarine;
  display: grid;
  grid-gap : 5px;
  grid-template-columns: repeat(4, 2fr);

}

.card{
  box-sizing: content-box;
  text-align : center;
  width: 290px;
  height: 250px;
  background-color : black;
  color :white;
}

.imageArea{
  text-align : center;
  display : inline-block;
  width : 290px;
  height : 150px;
  background-color: red;

}
.title{
  display: block;
  text-align : left;
  margin : 0px 5px;
  background-color: #FFD365;
  font-family: 'SUIT-bold';
}

.subTitle{
  margin : 0px 5px;
  background-color: #FF9F56;
  font-family: 'SUIT-semibold';
}

h2{
  margin-top : 40px;
  font-family: 'SUIT-bold';

}
