/* 이미지 */


.farmdetail_img1{
 position: relative;
 left: -10px;
 opacity: 80%;
 filter: blur(2px);
 border-radius: 0px;
    width: 1930px;
    height: 434px;
    background-image: url('/public/img/farmdetail/farmdetailimg1.jpg'); /* 마스크 이미지로 사용할 이미지 경로 */
    background-size: cover;
    -webkit-mask-image: url('/public/img/farmdetail/farmshape.png'); /* 실제 이미지를 클리핑할 마스크 이미지 */
    mask-image: url('/public/img/farmdetail/farmshape.png'); /* 실제 이미지를 클리핑할 마스크 이미지 */
    clip-path: url(#clip-path); /* 모양을 정의한 clip-path 요소의 ID를 사용 */
    z-index: 1;
    
}

/* 메인 타이틀 */

.Fdetail_title-container{
    position: relative;
    text-align: center;
}

.farmdetail_Maintitle{
    font-family: 'SUIT-ExtraBold';
    font-size: 60px;
    display: inline-block;
    position: relative;
    color: white;
    top: -300px;
    z-index: 99;
}
.lental_border{

    display: inline-block;
    padding: 6px 15px;
    background-color: #00C897;
    border: 2px solid #00C897;
    border-radius: 30px;
    position: relative;
    top: -280px;
    left: 880px;
    z-index: 99;
  
    
}
.lental_type{
   
    font-family: 'SUIT-Bold';
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
   
   
}
.borderAll{
    position: relative;
    top: 20px;
}


.type_border{

    display: inline-block;
    padding: 6px 15px;
    background-color: #FFD365;
    border: 2px solid #FFD365;
    border-radius: 30px;
    position: relative;
    top: -280px;
    left: 890px;
    z-index: 99;
  
    
}

.farm_type{
   
    font-family: 'SUIT-Bold';
    font-size: 17px;
    color: white;
    
    letter-spacing: 2px;
   
   
}

.farm_address{
    font-family: 'SUIT-Bold';
    font-size: 20px;
    z-index: 5;
    position: relative;
    left: 1320px;
    top: 220px;

}

/* 소개글 */

.desc_hr{
    border: 1px solid #FFD365;
    background-color: #FFD365;
    width: 200px;
    position: relative;
    top: -50px;
    left: 860px;
}
.desc_hr2{
    border: 1px solid #FFD365;
    background-color: #FFD365;
    width: 200px;
    position: relative;
    top: 130px;
    left: 860px;
}

.description{
 position: relative;
 text-align: center;
 display: inline-block;
 
 font-family: 'SUIT-Regular';
 font-size: 18px;
 right: 320px;
 left: 550px;
 z-index: 99;
}

/* 작성자 작성일  */

.use_id{
    font-family: 'SUIT-Bold';
    font-size: 17px;
    position: relative;
    margin-left: 320px;
    top: 120px;
    z-index: 99;
}
.detail_date{
    font-family: 'SUIT-ExtraRegular';
    position: relative;
    margin-left: 320px;
    top: 130px;

}

/* 캘린더 */

