.outgarden-container{
 position: relative;
 left: 270px;
}


.out-container {
  margin-top: 180px;
  margin-left: 320px;
  margin-right: 320px;
  width: 1250px;
  height: 1150px;
  background-color: white;
  border: 2px solid transparent; /* 테두리 (투명) */
  outline: 1px solid #41d2a6; /* 빛나는 아웃라인 색상 */
  box-shadow: 0px 0px 5px  #05AC7B;; /* 블러 효과를 주는 그림자 */
  border-radius: 15px;
  z-index: 3;
}
.leaves1{
  z-index: 99;
 width: 200px;
 height: auto;
 position: relative;
 top: 893px;

}

.out_maintitle{
  font-family: 'SUIT-ExtraBold';
  font-size: 25px;
  border:2px solid #05AC7B;
  background-color: #05AC7B;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 170px;
 
  padding: 15px 30px 20px 60px;
  position: relative;
  top: -355px;
  left: -250px;
  z-index: 1;
 
}

.form label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  margin-left: 100px;
  margin-top: 20px;
  
}

.form1 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 100px;
  
}
#gardenName{
  position: relative;
  top: -21px;
  left: 200px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}


.form2 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 100px;
  margin-bottom: 10px;
  
}

#gardenImages{
  position: relative;
  top: -13px;
  left: 190px;

  width: 300px;
 padding: 10px;
 border-radius: 10px;
}


.form3 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 100px;
  
}

#out_address{
  position: relative;
  top: 13px;
  left: 240px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}



.form4 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 33px;
  left: 100px;
  
}

.form4_1 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 35px;
  left: 100px;
  
}

#out_areanum{
  position: relative;
  top: 25px;
  left: 240px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}
.form4 {
  position: relative;
  top: 8px;
}
.form4_1 {
  position: relative;
  top: 30px;
}

.form5,.form6 ,.form7, .form8,
.form9 , .form10{
  position: relative;
  top: 30px;
}

#out_area{
  position: relative;
  top: 25px;
  left: 240px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}

.form5 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 60px;
  left: 100px;
  
}
.outtype_btn{
  font-family: 'SUIT-Regular';
  position: relative;
  
  left: 350px;
  top: 25px;
}

.type_button{
  border: 2px solid lightgray;
  width: 97px;
  color: gray;
  border-radius: 10px;
  font-family: 'SUIT-Regular';
  font-size: 14px;
  padding: 10px 20px;
  margin: 8px;
  position: relative;
  left: -77px;
}
.type_button:hover{
  
  background-color: #05AC7B;
  border: 2px solid  #05AC7B;
  color: white;
}

.outtype_btn1{
  font-family: 'SUIT-Regular';
  position: relative;
  
  left: 350px;
  top: 10px;
}

.type1_button{
  border: 2px solid lightgray;
  width: 97px;
  color: gray;
  border-radius: 10px;
  font-family: 'SUIT-Regular';
  font-size: 14px;
  padding: 10px 20px;
  margin: 8px;
  position: relative;
  left: -77px;
}
.type1_button:hover{
  
  background-color: #05AC7B;
  border: 2px solid  #05AC7B;
  color: white;
}
.type1_button.selected {
  /* 선택된 버튼 스타일 */
  background-color: #05AC7B;
  border: 2px solid  #05AC7B;
  color: white;
}
.type_button.selected {
  /* 선택된 버튼 스타일 */
  background-color: #05AC7B;
  border: 2px solid  #05AC7B;
  color: white;
}

#outtype{
  font-family: 'SUIT-Bold';
  font-size: 14px;
  text-align: center;
  color: #05AC7B;
  position: relative;
  top: 25px;
  left: 280px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}


.form6 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 45px;
  left: 100px;
  
}

.form7 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 30px;
  left: 100px;
  
}

#out_price{
  position: relative;
  top: 30px;
  left: 190px;
  border: 2px solid lightgray;
  width: 300px;
 padding: 10px;
 border-radius: 10px;
}

.form8 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 60px;
  left: 100px;
  
}



.form9 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: 60px;
  left: 100px;
  
}
.form10 label{
  font-family: 'SUIT-SemiBold';
  font-size: 20px;
  position: relative;
  top: -160px;
  left: 100px;
  
}


#out_description{
  position: relative;
  top: 100px;
  width: 500px;
  height: 200px;
  left: 10px;
  top: ;
  border: 2px solid lightgray;
  
 padding: 10px;
 border-radius: 10px;
}




.form input{

  position: relative;
  left: 100px;
}


.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }


.form textarea {
  width: 100%; /* 본문내용 입력란을 card 하단에 꽉 차게 */
  height: 300px; /* 본문내용 입력란의 높이 설정 */
  resize: none; /* 사용자가 크기를 조절하지 못하게 함 */
}

.submit-btn, .preview-btn {
  font-family: 'SUIT-SemiBold';
  justify-content: space-between;
  width: 20%; /* 버튼의 너비 설정 */
  margin: 5px auto; /* 중앙 정렬 및 상하간격 설정 */
  background-color:  #05AC7B ; /* 진한 녹색 배경 */
  color: #ffffff; /* 텍스트 색상을 하얀색으로 */
  border: none; /* 테두리 제거 */
  padding: 10px; /* 패딩 추가 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  font-size: 16px; /* 글자 크기 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  position: relative;
  top: 150px;
  margin: 10px;
  left: 230px;
}

.submit-btn:hover, .preview-btn:hover {
  background-color: #004c00; /* 마우스 오버 시 색상 변경 */
}


